.header {
    text-align: center;
}

.container {
    text-align: center;
    padding-top: 100px;
}

.containerword {
    padding: 50px;
}

.word {
    background-color: lightgrey;
    display: inline-block;
    padding: 10px;
}