.header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px
}

.container {
    text-align: center;
    padding-top: 50px;
}

.containerword {
    padding: 50px;
}

.word {
    background-color: lightgrey;
    display: inline-block;
    padding: 10px;
}

.inputdiv {
    width: 100px;
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
}

.gallowImage {
    display: inline;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
}

.grid-item {
    height: 400px;
    width: 300px;
}

#scoreNotification {
    padding-bottom: 50px;
}